nav{
  font-size: larger;
}

.font
{
 font-size: 18pt;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.SmallScreens
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  left: 45%;
  top: 1%;
  font-size: 0%;
}
  
  body
  {
    background-image: url('/static/images/FAQ2.JPG');
    background-size: cover 100vh;
  	background-position: center;
  	background-repeat:no-repeat;
	
  }
.form-label
{
	color: black;
	
}
.btn 
{
  left: -30px;
}
  
  
  .messages {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
  }
  
  .message {
	border-radius: 20px;
	padding: 8px 15px;
	margin-top: 5px;
	
	display: inline-block;
  }
  
  .yours {
	align-items: flex-start;
  }
  
  .yours .message {
	margin-right: 25%;
	background-color: #EEE;
	position: relative;
  }
  
  .mine {
	align-items: flex-end;
  }
  
  .mine .message {
	color: white;
	margin-left: 25%;
	background: rgb(0, 120, 254);
	position: relative;
  }

  .question_container
  {
	width: 75%;
	position: relative;
	left:12.5%;
	height: auto;
  }
  
  .User_container
  {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Two equal columns */
	position: relative;
	border-style: solid;
  }
  
  .left_container
  {
	position: relative;
	left:2%;
	width: 45%;
  }
  .right_container
  {
	left:-30%;
	position: relative;
	width: 105%;
  }
  
  
  .solid-line 
  {
	border: none;
	border-top: 1px solid black;
	
  }

form
{
	
	background-color: #ffffff70;
	position: relative;
	top:10%;
	left: 25%;
	width: 50%;
}


@media screen and (max-width: 768px) 
{
    .SmallScreens
    {
        top:2%;
        font-size: 12pt;
    }

    .font
    {
        font-size: 12pt;
    }
    #names
    { 
        left: 15%;
        max-width: 80%;
        top: 10%;
    }

	form
	{
		width: 90%;
		left:5%;
	}
	.left_container
	{
		font-size: 10pt;
    width: 65%;
	}
	.right_container
	{
		font-size: 10pt;
    width: 125%;
	}
  .form-control
  {
    font-size: 10pt;
  }
}

@media screen and (max-width: 425px) 
{
  .question_container
  {
  width:85%;
	
	left:7.5%;
  }
  .form-control
  {
    font-size: 25pt;
  }
}


@media screen and (max-width: 375px) 
{
  .question_container
  {
  width:100%;
	left:0%;
  }
  .solid-line 
  {
	border: none;
	border-top: 0px solid black;
  }

}