nav{
  font-size: larger;
}

.font
{
 font-size: 18pt;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.SmallScreens
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  left: 45%;
  top: 1%;
  font-size: 0%;
}
ul
{
  margin: 0%;
  
}

.row {
    
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .column1 {
    flex: 45%;
    height: 1050px;
  }
  .column2 {
    position: relative;
    flex: 2.5%;
    height: 1050px;
    
  }

  .column3 {
    position: relative;
    flex: 44%;
    height: 1050px;
     
  }
 .font1
  {
    position: relative;
    font-size: 30pt;
    font-weight: 500;
  }

  .font2
  {
    top:10%;
    background-color: rgb(179, 203, 183);
    position: relative;
    font-size: 20pt;
    font-weight: 500;
  }

  .font3, .font5
  {
   
    position: relative;
    font-size: 18pt;
  }
  
  .font4
  {
    top:5%;
    position: relative;
    background-color: rgb(179, 203, 183);
    font-size: 18pt;
  }
  .font5
  {
    top: 15%;
  }
  .image
  {
    width: 100%;
    height: 100%;
  }
  
  .pic1,.pic2,.pic3,.pic4
  {
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .pic1{background-image: url('/static/images/itenary1.JPG'); background-position: 50% 100%;}
  .pic2{background-image: url('/static/images/Chapel.png');background-position: 50% 50%;}
  .pic3{background-image: url('/static/images/Luau.png');background-position: 50% 20%;}
  .pic4{background-image: url('/static/images/itenary1.JPG');background-position: 50% 100%;}

  .container-grid
  {
    border-top: 1px solid;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
  }

  .container-text
  {
    position: relative;
    text-align: center;
    top: 10%;
    left: 5%;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 50%;
    
  }

  .container
  {
    border-right: 2px solid black;
    border-left: 2px solid black;
    background-image: url('/static/images/clouds.png');
    width: 100%;
    height: 50%;
  }

  .grid {
    
    background-color: rgb(179, 203, 183);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; 
  }

  .Attire {
    background-color: rgb(179, 203, 183);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  
  
  .plane
  {
    position: absolute;
    position: fixed;
    width: 3.5%;
    top: 35%;
    left: 48.75%;
    transform:  rotate(135deg);
  }
  @media screen and (max-width: 1440px) {
  .font1
    {
      font-size: 25pt;
    }
  .font2
    {
      font-size: 20pt;
    }
  .font3,.font4 , .font5
    {
      font-size: 15pt;
    }
  
  .plane
    {
      left: 48.25%;
    }
}
@media screen and (max-width: 1024px) {
  .font1
    {
      font-size: 20pt;
    }
  .font2
    {
      font-size: 16pt;
    }
  .font3,.font4, .font5
    {
      font-size: 12pt;
    }
  
}
@media screen and (max-width: 768px) {
  .font1
    {
      font-size: 18pt;
    }
  .font2
    {
      font-size: 12pt;
    }
  .font3,.font4, .font5
    {
      font-size: 12pt;
    }
  
  .plane
    {
      left: 48%;
    }
}
  @media screen and (max-width: 550px) {
    .font1
    {
      font-size: 10pt;
    }
  .font2
    {
      font-size: 8pt;
    }
  .font3, .font5
    {
      font-size: 6pt;
    }
  .font4
  {
    top: -3%;
    font-size: 6pt;
  }
  .plane
    {
      left: .25%;
      top:10%;
    }

    .container
    {
      background-position:0;
    }
    
    
    .column1
     {
      position: relative;
      left: 7.5%;
      height: 525px;
    }
    .column2 {
      left: -47%;
    }
  
    .column3 {
      height: 525px;
    }
  .container
  {
    height: 25%;
  }
 
  .container-text
  {
    top:1%;
  }
}

@media screen and (max-width: 375px) {
  .font1
    {
      font-size: 8pt;
    }
  .font2
    {
      font-size: 6pt;
    }
  .font3
    {
      font-size: 5pt;
    }
  .font4
  {
    top: 5%;
    font-size: 6pt;
  }
  
    .column3 
    {
      right: 1.5%;
    }
}