nav{
  font-size: larger;
}

.font
{
 font-size: 18pt;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.SmallScreens
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  left: 45%;
  top: 1%;
  font-size: 0%;
}
.font1
{
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
  font-size: 25pt;
}

.font2 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 20pt;
}

.container1 {
  position: relative;
  text-align: center;
  top: 25%;
  left:27.5%;
  width: 45%;
  background-color: rgba(245, 245, 245, 0.477);
  border: solid;
  transition: ease-in-out, 1s;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}



.responsive-image {
 
  background-image: url('/static/images/RSVP2.JPG');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  
}
.textbox
{
  font-family: 'Playfair Display', serif;
  
  text-align: center;
  margin-top: 15px;
  color: #333333;
  background-color: #eeeeee;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 5px;
  width: 75%;
  font-size: 18pt;
}

@media screen and (max-width: 1024px) 
{
  .container1{
    width: 50%;
    left:25%;
  }
}
@media screen and (max-width: 768px) 
{
  .SmallScreens
  {
      top:1.75%;
      font-size: 15pt;
      left:45%;
  }

    .font
    {
      font-size: 15pt;
    }
   

    .navbar-toggler
    {
        left: 80%;
        top: .75%
    }
  }
  @media screen and (max-width: 425px) 
{
    .SmallScreens
    {
        font-size: 15pt;
        left:40%;
    }

    .font
    {
      font-size: 15pt;
    }
   

    .navbar-toggler
    {
        left: 80%;
        top: .75%
    }
    .container1{
      width: 75%;
      left:12.5%;
      top:10%;
    }
    .textbox
    {
      font-size: 12pt;
    }
  }
